/* Start Global styling */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: arial, sans-serif;
}
body {
    background-color: #202124;
    color: #fff;
}
/* End Global Styling */
/* Start header */
header {
    display: grid;
    grid-template-columns: 8em 1fr 8em;
    border-bottom: 1px solid #303134;
}
/* Google Logo */

header >div:first-child  {
    display: grid;
    place-items: center;
}
header >div:first-child img {
    width: 70%;
    cursor: pointer;
}
/*Search input Styling */
.search{
    display: grid;
    grid-template-columns: 80% 20% ;
    border-radius: 20px;
    width: 35em;
    padding: 7px;
    margin: 30px;
    background-color: #303134;
}
@media (max-width:891px) {
    .search{
        width: 25em;
        margin-left: 0;
    }
}
.search input {
    color: #fff;
    background-color: inherit;
    caret-color: #fff;
    border: none;
    outline: none;
    width: 100%;
}
.search input:hover {
    outline: none;
}
.spacer {
    border-left: 1px solid #70757a;
}
@media (max-width:700px) {
    header {
        grid-template-columns: 8em 8em;
        grid-template-rows: 4em 4em;
        justify-content: space-between;
        margin: 0 0 5em 0;
        border: none;
    }
    div:has(.search) {
        order: 1;
        grid-column: 1/3;
        display: grid;
        place-items: center;
    }
    .search {
        margin: 0;
    }
}
/* Icon section in input */
.search .icons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.icons svg , .icons img{
    width: 24px;
    cursor: pointer;
}

/* the nav section */
nav {
    display: grid;
    grid-template-columns: repeat(10 , auto);
    justify-content: space-between;
    margin: 25px 25px 10px;
    width: 35em;
    color: #9aa0a6;;
}
nav svg {
    width: 16px;
    margin-right: 5px;
}
nav > div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: stretch;
    cursor: pointer;
}
/* first element in nav  */
nav >div:first-child {
    position: relative;
    color: #8ab4f8;
}
/* the line in bottom of first nav element */
nav >div:first-child::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #8ab4f8;
    position: absolute;
    bottom: -10px;
}
/* last element in nav */
nav > div:last-child{
    grid-column: 10;
}
@media (max-width:891px) {
    nav{
        width: 25em;
        font-size: 14px;
        margin-left: 0;
    }
    nav svg {
        width: 13px;
        margin-right: 0;
        margin-left: 5px;
    }
    nav > div:last-child {
        margin-left: 5px;
    }
}
/* phone scrool */
@media (max-width:400px) {
    nav {
        overflow-x: scroll;
    }
}


/*The three icons in far left */
header > div:last-child {
    display: grid;
    grid-template-columns: 24px 24px 24px;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
}
header > div:last-child>* {
    cursor: pointer;
}
header > div:last-child svg{
    width: 24px;
}
/* profile pic */
.profile-pic{
    border-radius: 50%;
    overflow: hidden;
    width: 32px;
}
.profile-pic img{
    border-radius: 50%;
    cursor: pointer;
    height: 100%;
    width: 100%;
}


body > p:first-of-type {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color:  #9aa0a6;;
}
/* Start main section styling */


main {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    gap: 50px;
    align-items: start;
}

main .search-result span {
    line-height: 1.15;
    color: #969ba1;
    display: block;
    padding: 10px 0;
}
main .search-result div {
    line-height: 1.15;
    color: white;
}
main .search-result div h4 {
    line-height: 1.15;
    font-size: 1.6rem;
    font-weight: 300;
    color: #8ab4f8;
    margin-bottom: 10px;
}
main .search-result div p{
    color: #969ba1;
    line-height: 1.6;
}
/* Start aside section */
aside {
    overflow: hidden;
}
aside .side-content {
    border: 1px solid #3c4043;
    overflow: hidden;
    border-radius: 30px;
    padding-bottom: 30px;
}

.images-grid {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 1px;
    margin-bottom: 10px;
}
.images-grid > img {
    line-height: 1.15;
    color: white;
    box-sizing: border-box;
    margin: 0;
    font-family: arial, sans-serif;
}
.images-grid div {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.images-grid div > img {
    display: block;
    width: 100%;
    height: 100%;
}

.side-title{
    padding: 20px;
    border-bottom: 1px solid #3c4043;
}
.side-title h3{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.side-content .content {
    margin: 0;
    padding: 20px;
    color: #bdc1c6;
    line-height: 1.6;
}

.side-content .content > div:first-child {
    margin-bottom: 14px;
}
.side-content .content > ul {
    padding: 0;
    list-style: none;
}
.side-content .content > ul li{
    padding: 5px 0;
    font-weight: 600;
}
.side-content .content > ul li span {
    font-weight: 400;
}
.side-content .footer h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 0 20px;
}
.side-content .footer div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
} 



/* Start Footer  */
footer {
    background: #171717;
}
.top-footer {
    display: grid;
    grid-template-columns: 7em 1fr;
    padding: 10px 0;
}
.top-footer span {
    color: #9aa0a6;
    font-size: 13px;
}
span.palestine {
    border-right: 1px solid #3c4043;
    padding: 12px 0;
}
.loc-dot {
    display: inline-block;
    background: #9aa0a6;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}


footer .location {
    padding: 12px 0;
    margin-left: 15px;
}

.location a {
    color: #8ab4f8;
}
.footer-mid-border {
    width: 100%;
    border-bottom: 1px solid #3c4043;
}
.down-footer {
    padding: 10px 0 25px;
}
.down-footer ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.down-footer ul li {
    margin-right: 27px;
}
.down-footer ul a {
    color: #999da2;
    text-decoration: none;
}
  /* End Footer  */ 
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width :576px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .container aside {
        display: none;
    }
}
@media (min-width: 576px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .container aside {
        display: none;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        grid-template-columns: 1fr 1fr;
    }
    .container aside {
        display: block;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
        grid-template-columns: 2.5fr 1.5fr;
    }

}
@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1250px;
    }
}
